*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: cadetblue;
}

.cell {
    width: 130px;
    height: 130px;
    border: 2px solid black;
    font-family: 'Permanent Marker', cursive;
    font-size: 100px;
    cursor: pointer;
    border-top: none;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.cell:nth-child(3n) {
    border-right: none;
}

.cell:nth-child(1n) {
    border-left: none;
}

.cell:nth-child(7n) {
    border-bottom: none;
}

.cell:nth-child(8n) {
    border-bottom: none;
}

.cell:nth-child(9n) {
    border-bottom: none;
}

#mainContainer {
    text-align: center;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
    font-family: verdana;
    font-size: 20px;

}

#headText {
    font-family: 'Press Start 2P', cursive;
    letter-spacing: -1px;
    font-size: 40px;
}

#restart {
    width: 160px;
    height: 40px;
    border-radius: 20px;
    font-family: Verdana;
    font-size: 19px;
    letter-spacing: 2px;
    background-color: black;
    color:  white;
    border: none;
}

#cellContainer{
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 390px;
    margin: auto;
}

#previous {
    font-size: 38px;
    color: black;
    background-color: none;
    background: none;
    border: none;
}


#next {
    font-size: 38px;
    color: black;
    background-color: none;
    background: none;
    border: none;
}